.NavBar{
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 100px;
  border-style: solid;
  border-color: royalblue;
  border-radius: 20px;
  border-width: medium;
}

.NavBar a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.main{
  position: relative;
  left: 43%;
  display: flex;
}
.main h2{
  position: relative;
  margin-left: 30px;
}
 .Title h1{
  position: relative;
  left: 99px;
  font-family: monospace;
  font-style: italic;
  font-size: 35px;
  color: coral;
}
.Title h1:hover{
  color: orange;
}
.Title img{
position: absolute;
 padding-left: 1px;
 top: 1%;
 left: 0px;
}